In [1]:
# gdp growth
# exports growth
# imports growth

In [2]:
# cpi
# unemployment

In [3]:
import pandas as pd

def parse_tl_csv(filepath, skiprows=3):
    df = pd.read_csv(filepath, skiprows=skiprows)
    
    df = df.melt(
        id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
        var_name="Year",
        value_name="Value"
    )
    
    df["Year"] = pd.to_numeric(df["Year"], errors="coerce").astype("Int64")
    df = df.dropna(subset=["Value"])
    return df

In [4]:
with open("national_data/consumer price idx/cpi.csv", "r") as f:
    for _ in range(10):
        print(f.readline())

"Data Source","World Development Indicators",



"Last Updated Date","2025-03-24",



"Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022","2023",

"Aruba","ABW","Consumer price index (2010 = 100)","FP.CPI.TOTL","","","","","","","","","","","","","","","","","","","","","31.9824591381405","","","","39.8575370165269","41.4646957639131","41.9100126677081","43.4368134807205","44.792853676488","46.5808177864629","49.2995946727919","52.0384610435027","54.0541059764705","56.8733302847083","60.4626514942459","62.4950376641989","64.5106825971666","66.4459695926078","67.6881693768789","69.2317114268756","72.0314565915752","74.1085587734806","76.5654403862613","79.3649524114212","81.3721948111763","84.1370484876733","87.1727337163218","91.8735825241023","100.101768678965","97.9641667608969","100","104.316297421952","104.970852972298","102.480875854163","102.91277219904","103.401364578457","102.438495220917","101.385138831048","105.061405952227","109.534355432857","","","","",

"Africa Eastern and Southern","AFE","Consumer price index (2010 = 100)","FP.CPI.TOTL","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",

"Afghanistan","AFG","Consumer price index (2010 = 100)","FP.CPI.TOTL","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","63.5233948093157","71.5821433759538","76.4387030058667","83.0740187275294","105.021064735005","97.8679108385313","100","111.804185808913","119.005731346616","127.795223073732","133.768366733582","132.883209191418","138.708665508891","145.610741438593","146.52248185721","149.895975208032","","","","",

"Africa Western and Central","AFW","Consumer price index (2010 = 100)","FP.CPI.TOTL","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",

"Angola","AGO","Consumer price index (2010 = 100)","FP.CPI.TOTL","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","2.22008150730772E-08","4.08014979721418E-08","1.63005984545567E-07","2.41008848315838E-06","2.5300928889588E-05","0.000699937697271513","0.0297130970585906","0.0948372889505528","0.19658330514343","0.684495013337208","2.90908239295018","7.34720823610931","15.3481296293837","30.4236985252629","43.6708178150299","53.6948050312199","60.8390116952927","68.2927016592819","76.8127824283574","87.3593955494136","100","113.482467921851","125.146088077866","136.131179284704","146.042056377604","159.705710507375","208.726444198045","271.019765885988","324.2180676186","379.597607073274","464.139837113465","583.675779438661","708.32143556848","804.965533144132",

In [5]:
cpi_df = parse_tl_csv("national_data/consumer price idx/cpi.csv")
export_growth_df = parse_tl_csv("national_data/export growth/export_growth.csv")
gdp_growth_df = parse_tl_csv("national_data/gdp growth/gdp_growth.csv")
import_growth_df = parse_tl_csv("national_data/import growth/import_growth.csv")
unemployment_df = parse_tl_csv("national_data/unemployment/unemployment.csv")

In [6]:
cpi_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
13,Australia,AUS,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,7.960458
14,Austria,AUT,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,17.824167
17,Belgium,BEL,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,15.596081
19,Burkina Faso,BFA,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,10.713301
28,Bolivia,BOL,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,0.000022

In [7]:
export_growth_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
275,Argentina,ARG,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,1961,-10.638592
279,Australia,AUS,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,1961,4.989085
284,Benin,BEN,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,1961,-21.698248
286,Bangladesh,BGD,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,1961,-11.501106
294,Bolivia,BOL,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,1961,0.587371

In [8]:
gdp_growth_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
267,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1961,0.468736
269,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1961,1.873054
275,Argentina,ARG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1961,5.427843
279,Australia,AUS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1961,2.482330
280,Austria,AUT,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1961,5.537979

In [9]:
import_growth_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
275,Argentina,ARG,Imports of goods and services (annual % growth),NE.IMP.GNFS.KD.ZG,1961,18.176893
279,Australia,AUS,Imports of goods and services (annual % growth),NE.IMP.GNFS.KD.ZG,1961,12.514822
284,Benin,BEN,Imports of goods and services (annual % growth),NE.IMP.GNFS.KD.ZG,1961,-19.018266
286,Bangladesh,BGD,Imports of goods and services (annual % growth),NE.IMP.GNFS.KD.ZG,1961,32.313873
294,Bolivia,BOL,Imports of goods and services (annual % growth),NE.IMP.GNFS.KD.ZG,1961,5.855019

In [10]:
unemployment_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
8247,Africa Eastern and Southern,AFE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1991,8.179629
8248,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1991,8.070000
8249,Africa Western and Central,AFW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1991,4.158680
8250,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1991,16.855000
8251,Albania,ALB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1991,10.304000

In [11]:
def rename_value(df, new_col_name):
    return df[["Country Name", "Year", "Value"]].rename(columns={"Value": new_col_name})

In [12]:
cpi_df = rename_value(cpi_df, "Consumer price index (2010 = 100)")
export_df = rename_value(export_growth_df, "Exports of goods and services (annual % growth)")
gdp_df = rename_value(gdp_growth_df, "GDP growth (annual %)")
import_df = rename_value(import_growth_df, "Imports of goods and services (annual % growth)")
unemp_df = rename_value(unemployment_df, "Unemployment, total (% of total labor force) (annual % growth)")

In [13]:
national_merged_df = cpi_df.merge(export_df, on=["Country Name", "Year"], how="inner")
national_merged_df = national_merged_df.merge(gdp_df, on=["Country Name", "Year"], how="inner")
national_merged_df = national_merged_df.merge(import_df, on=["Country Name", "Year"], how="inner")
national_merged_df = national_merged_df.merge(unemp_df, on=["Country Name", "Year"], how="inner")

In [14]:
print(national_merged_df.columns.tolist())

['Country Name', 'Year', 'Consumer price index (2010 = 100)', 'Exports of goods and services (annual % growth)', 'GDP growth (annual %)', 'Imports of goods and services (annual % growth)', 'Unemployment, total (% of total labor force) (annual % growth)']

In [15]:
national_merged_df.head()

,Country Name,Year,Consumer price index (2010 = 100),Exports of goods and services (annual % growth),GDP growth (annual %),Imports of goods and services (annual % growth),"Unemployment, total (% of total labor force) (annual % growth)"
0,Australia,1991,61.680541,11.256515,-0.382260,-5.715217,9.586
1,Austria,1991,67.910971,2.937297,3.441627,5.114366,3.420
2,Belgium,1991,68.578775,3.055391,1.833074,2.859223,6.984
3,Burkina Faso,1991,50.227944,-0.413185,9.069984,-0.861015,2.477
4,Bangladesh,1991,34.299420,-3.091548,3.485228,-15.017444,2.200

In [16]:
national_merged_df_all = national_merged_df.sort_values(["Country Name", "Year"])

In [17]:
national_merged_df_all.head()

,Country Name,Year,Consumer price index (2010 = 100),Exports of goods and services (annual % growth),GDP growth (annual %),Imports of goods and services (annual % growth),"Unemployment, total (% of total labor force) (annual % growth)"
607,Albania,1997,61.183648,-18.274438,-10.919984,-8.690862,16.872
721,Albania,1998,73.813702,33.833479,8.829424,18.975869,20.042
838,Albania,1999,74.101161,73.096787,12.890804,15.424788,20.835
957,Albania,2000,74.138225,38.881300,6.946217,49.540399,19.023
1079,Albania,2001,76.442135,15.456169,8.293313,15.221862,18.570

In [18]:
print("Earliest years per dataset:")
print("CPI:", cpi_df["Year"].min())
print("Exports:", export_df["Year"].min())
print("GDP:", gdp_df["Year"].min())
print("Imports:", import_df["Year"].min())
print("Unemployment:", unemp_df["Year"].min())

Earliest years per dataset:
CPI: 1960
Exports: 1961
GDP: 1961
Imports: 1961
Unemployment: 1991

In [19]:
print("Countries in CPI:", cpi_df['Country Name'].nunique())
print("Countries in Exports:", export_df['Country Name'].nunique())
print("Countries in GDP:", gdp_df['Country Name'].nunique())
print("Countries in Imports:", import_df['Country Name'].nunique())
print("Countries in Unemployment:", unemp_df['Country Name'].nunique())

# mismatch
missing_in_exports = set(cpi_df['Country Name'].unique()) - set(export_df['Country Name'].unique())
print("Countries in CPI but missing in exports:", list(missing_in_exports)[:10])

Countries in CPI: 192
Countries in Exports: 211
Countries in GDP: 262
Countries in Imports: 213
Countries in Unemployment: 235
Countries in CPI but missing in exports: ['Curacao', 'Liberia', 'Tuvalu', 'Guyana', 'China', 'St. Vincent and the Grenadines', 'Antigua and Barbuda', 'St. Kitts and Nevis', 'Grenada', 'New Caledonia']