In [59]:
import pandas as pd

In [60]:
ag_growth = pd.read_csv("datasets/micro_datasets/agri_timeline.csv")
industry_growth = pd.read_csv("datasets/micro_datasets/industry_timeline.csv")
manu_growth = pd.read_csv("datasets/micro_datasets/manufacturing_timeline.csv")
service_growth = pd.read_csv("datasets/micro_datasets/service_timeline.csv")

In [61]:
def parse_tl_csv(df): 
    # fortmat to long format
    df_converted = df.melt(
        id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
        var_name="Year",
        value_name="Value"
    )

    df_converted["Year"] = pd.to_numeric(df_converted["Year"], errors="coerce").astype("Int64")
    df_converted = df_converted.dropna(subset=["Value"])
    
    return df_converted

In [62]:
ag_growth = parse_tl_csv(ag_growth)
industry_growth = parse_tl_csv(industry_growth)
manu_growth = parse_tl_csv(manu_growth)
service_growth = parse_tl_csv(service_growth)

In [63]:
ag_growth.rename(columns={'Value': 'Agriculture Value Added (Annual % Growth)'}, inplace=True)
ag_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

industry_growth.rename(columns={'Value': 'Industry Value Added (Annual % Growth)'}, inplace=True)
industry_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

manu_growth.rename(columns={'Value': 'Manufacturing Value Added (Annual % Growth)'}, inplace=True)
manu_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

service_growth.rename(columns={'Value': 'Service Value Added (Annual % Growth)'}, inplace=True)
service_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

In [66]:
final_df = pd.merge(ag_growth, industry_growth, on=['Year', 'Country Name'], how='inner')
final_df = pd.merge(final_df, manu_growth, on=['Year', 'Country Name'], how='inner')
final_df = pd.merge(final_df, service_growth, on=['Year', 'Country Name'], how='inner')

In [67]:
final_df

,Country Name,Year,Agriculture Value Added (Annual % Growth),Industry Value Added (Annual % Growth),Manufacturing Value Added (Annual % Growth),Service Value Added (Annual % Growth)
0,Bangladesh,1961,5.208137,2.033754,8.229668,0.629360
1,Bolivia,1961,4.889299,-1.464844,0.209644,2.525253
2,Chile,1961,-1.836386,4.867408,7.428750,4.166105
3,Costa Rica,1961,3.676659,-1.052805,-5.206631,-3.038642
4,Ecuador,1961,5.369949,8.022432,3.821924,4.414539
...,...,...,...,...,...,...
7720,Samoa,2023,0.824237,-1.899107,0.054484,7.414039
7721,Kosovo,2023,-2.966124,3.345229,7.040995,4.728334
7722,South Africa,2023,-4.782619,-0.402610,0.259762,1.218676
7723,Zambia,2023,-20.451846,0.871063,4.529718,10.032946
7724,Zimbabwe,2023,6.313705,3.183366,2.129153,6.676506